services:
  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_DB: multi_tenant_saas
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: lokesh@123
    ports:
      - "5432:5432"   # FIXED
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"   # FIXED
    environment:
      DB_HOST: database
      DB_PORT: 5432
      DB_NAME: multi_tenant_saas
      DB_USER: postgres
      DB_PASSWORD: lokesh@123
      DB_DIALECT: postgres

      JWT_SECRET: eb8a9d459b1636e1f956031c4f27125ed0b6992b428f37153a7e2397ded5b9660cadba7884cd1b371227d8a4d579312f58eb5fd04959adb25cc97038931ff1cd
      JWT_EXPIRES_IN: 24h

      NODE_ENV: development
      PORT: 5000
      FRONTEND_URL: http://frontend:3000
    depends_on:
      database:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"   # FIXED
    environment:
      VITE_API_URL: http://backend:5000/api
    depends_on:
      backend:
        condition: service_healthy

volumes:
  db_data:
